<center><h1 ng-if="mostrarMensajeNoTareas()">You don't have any adress book</h1></center>
<md-list ng-cloak>
    <md-list-item ng-repeat="ab in adressBooks">
        <p> {{ ab.name }} </p>
        <!--
        <md-checkbox class="md-secondary" ng-model="tarea.completada" ng-change="actualizarTarea(tarea._id, tarea.completada)"></md-checkbox>
        -->
    </md-list-item>
</md-list>


<md-button class="md-fab md-primary" aria-label="Add adress book" ng-click="mostrarDialogAdress($event)" style="position: fixed; right: 50px; bottom: 50px;">
    <md-icon md-svg-src="img/icons/plus.svg"></md-icon>
</md-button>