<div class="login-box animated fadeInUp">
    <center><h1 ng-if="mostrarMensajeNoTareas()">You don't have any adress book</h1></center>
    <md-list ng-cloak>
        <md-list-item ng-repeat="ab in adressBookList">
            <div>
                <p> {{ ab.name }} </p>
                <md-list-item ng-repeat="c in ab.contacts">
                    <p> {{ c.name }} </p>
                </md-list-item>
            </div>
        </md-list-item>
    </md-list>
</div>


<md-button class="md-fab md-primary" aria-label="Add adress book" ng-click="mostrarDialogAdress($event)" style="position: fixed; right: 50px; bottom: 50px;">
    <md-icon md-svg-src="img/icons/plus.svg"></md-icon>
</md-button>